button {
  background: var(--pink);
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: var(--pink-dark);
}

input {
  padding: 10px;
  border: 2px solid var(--pink);
  border-radius: 10px;
  background: white;
}
